/target
/Cargo.lock
/state
/zdds
/common_nets

/.venv
/.direnv

/build/
/net_finder/soc/.Xil/
/net_finder/soc/net-finder.cache/
/net_finder/soc/net-finder.hw/
/net_finder/soc/net-finder.runs/
/net_finder/soc/net-finder.sim/
/net_finder/soc/net-finder.srcs/sources_1/new/generated.*
/net_finder/soc/net-finder.srcs/sources_1/new/obj_dir/
/net_finder/soc/net-finder.srcs/utils_1/

*.csv
*.json
*.vcd
*.fst
*.gtkw
*.jou
*.log

__pycache__
obj_dir
