/target
/Cargo.lock
/state
/zdds
/common_nets

/fpga/.venv
/fpga/.direnv

/fpga/.Xil/
/fpga/build/
/fpga/net-finder.cache/
/fpga/net-finder.hw/
/fpga/net-finder.runs/
/fpga/net-finder.sim/
/fpga/net-finder.srcs/sources_1/new/generated.*
/fpga/net-finder.srcs/sources_1/new/obj_dir/
/fpga/net-finder.srcs/utils_1/

*.csv
*.json
*.vcd
*.fst
*.gtkw
*.jou
*.log

__pycache__
obj_dir
